<div class="centered-content">
  <div class="modal-box has-background-white">
    <h1 class="title has-text-primary">Update task</h1>

    <input
      type="text"
      #taskTitleInput
      class="input has-background-light is-medium"
      placeholder="Enter new task name"
    />
    <div class="buttons is-right">
      <button routerLink="/" class="button is-medium">Cancel</button>
      <button
        class="button is-primary is-medium"
        (click)="updateTask(taskTitleInput.value)"
        >Update</button
      >
    </div>
  </div>
</div>
