<div class="centered-content">
  <div class="modal-box has-background-white">
    <h1 class="title has-text-primary">Update list</h1>

    <input
      type="text"
      #listTileInput
      class="input has-background-light is-medium"
      placeholder="Enter list name"
    />
    <div class="buttons is-right">
      <button routerLink="/" class="button is-medium">Cancel</button>
      <button
        class="button is-primary is-medium"
        (click)="updateList(listTileInput.value)"
        >Save</button
      >
    </div>
  </div>
</div>
