<div class="centered-content">
  <div class="modal-box has-background-white">
    <h1 class="title has-text-primary">Create a new task</h1>
    <input
      type="text"
      #taskTitleInput
      class="input has-background-light is-medium"
      placeholder="Enter task name"
    />
    <div class="buttons is-right">
      <button routerLink="/" class="button is-medium">Cancel</button>
      <button
        class="button is-primary is-medium"
        (click)="createTask(taskTitleInput.value)"
        >Create</button
      >
    </div>
  </div>
</div>
